<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovframework.example.sample.service.impl.DainMapper">

	<resultMap id="cctv" type="egovframework.example.sample.service.CCTV">
		<result property="id" column="cctv_id"/>
		<result property="name" column="cctv_name"/>
		<result property="cnmp" column="power_cnmp"/>
		<result property="loc_id" column="cctv_loc_id"/>
	</resultMap>
	<resultMap id="loc" type="egovframework.example.sample.service.Loc">
		<result property="id" column="loc_id"/>
		<result property="name" column="loc_name"/>
		<result property="trty" column="loc_trty"/>
		<result property="lat" column="loc_lat"/>
		<result property="lng" column="loc_lng"/>
	</resultMap>

	<select id="selectLoc" parameterType="String" resultMap="loc">
			SELECT
				loc_id, loc_name, loc_trty, loc_lat, loc_lng
			FROM loc
			WHERE loc_id=#{id}

	</select>

	<select id="selectCCTVList" parameterType="String" resultType="cctv">
			SELECT
				cctv_id, cctv_name, power_cnmp, cctv_loc_id
			FROM cctv
			WHERE cctv_loc_id = #{loc_id}
	</select>
</mapper>