<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovframework.example.sample.service.impl.DainMapper">

	<resultMap id="cctv" type="egovframework.example.sample.service.CCTV">
		<result property="cctvID" column="cctv_id"/>
		<result property="cctvName" column="cctv_name"/>
		<result property="powerCnmp" column="power_cnmp"/>
		<result property="locID" column="cctv_loc_id"/>
	</resultMap>
	<resultMap id="loc" type="egovframework.example.sample.service.Loc">
		<result property="locID" column="loc_id"/>
		<result property="locName" column="loc_name"/>
		<result property="locTrty" column="loc_trty"/>
		<result property="locLat" column="loc_lat"/>
		<result property="locLng" column="loc_lng"/>
	</resultMap>

	<select id="selectLoc" parameterType="String" resultMap="loc">
			SELECT
				loc_id, loc_name, loc_trty, loc_lat, loc_lng
			FROM loc
			WHERE loc_id=#{locID}

	</select>

	<select id="selectCCTVList" parameterType="String" resultType="cctv">
			SELECT
				cctv_id, cctv_name, power_cnmp, cctv_loc_id
			FROM cctv
			WHERE cctv_loc_id = #{locID}
	</select>

	<select id="selectCCTV" parameterType="String" resultType="cctv">
		SELECT
			cctv_id, cctv_name, power_cnmp, cctv_loc_id
		FROM cctv
		WHERE cctv_id = #{cctv_id}
	</select>

	<select id="selectCCTVListAll" parameterType="String" resultType="cctv">
		SELECT
			cctv_id, cctv_name, power_cnmp, cctv_loc_id
		FROM cctv
	</select>
</mapper>